build
dist
.cache
__pycache__
.idea
*.pyc
*.egg-info
win_config.dat
.Rhistory

.ipynb_checkpoints/*

examples/astra_injector/*
!examples/astra_injector/gun.dat
!examples/astra_injector/Radial2k_1G3ps.ini
!examples/astra_injector/sp_gunsol.dat
!examples/astra_injector/sole_cavity.dat
!examples/astra_injector/tws_cavity.dat

examples/impactt_lattice/*
!examples/impactt_lattice/.gitkeep

liso/tests/astra_gun/*
!liso/tests/astra_gun/gun.dat
!liso/tests/astra_gun/Radial500_1G3ps.ini
!liso/tests/astra_gun/sole_gun.dat
!liso/tests/astra_gun/sole_cavity.dat

liso/tests/multi_code_optimization_test/astra/*
liso/tests/multi_code_optimization_test/impactt/*
!liso/tests/multi_code_optimization_test/astra/gun.dat
!liso/tests/multi_code_optimization_test/astra/Radial500_1G3ps.ini
!liso/tests/multi_code_optimization_test/astra/injector.in.000
!liso/tests/multi_code_optimization_test/astra/sp_gunsol.dat
!liso/tests/multi_code_optimization_test/impactt/ImpactT.in.000

