build
dist
.cache
__pycache__
.pytest_cache
.idea
*.pyc
*.egg-info
win_config.dat
.Rhistory
*.autosave
.coverage
*.log

.ipynb_checkpoints/*

examples/astra_injector/*
!examples/astra_injector/gun.dat
!examples/astra_injector/Radial2k_1G3ps.ini
!examples/astra_injector/sp_gunsol.dat
!examples/astra_injector/sole_cavity.dat
!examples/astra_injector/tws_cavity.dat

examples/impactt_lattice/*
!examples/impactt_lattice/.gitkeep

liso/integration_tests/jitter/*
!liso/integration_tests/jitter/injector.in.000

liso/integration_tests/local_optimizer/*
liso/integration_tests/local_optimizer/injector.in.000

liso/integration_tests/global_optimizer/*
liso/integration_tests/global_optimizer/injector.in.000

liso/integation_tests/astra_gun/*
!liso/integration_tests/astra_gun/gun.dat
!liso/integration_tests/astra_gun/Radial500_1G3ps.ini
!liso/integration_tests/astra_gun/sole_gun.dat
!liso/integration_tests/astra_gun/sp_gunsol.data

liso/integration_tests/multi_code_optimization/astra/*
!liso/integration_tests/multi_code_optimization/astra/injector.in.000
liso/integration_tests/multi_code_optimization/impactt/*
!liso/integration_tests/multi_code_optimization/impactt/ImpactT.in.000

