build
dist
.cache
__pycache__
.pytest_cache
.idea
*.pyc
*.egg-info
win_config.dat
.Rhistory
*.autosave
.coverage
*.log
*.hdf5
*.csv

.ipynb_checkpoints

examples/astra_files/*
!examples/astra_files/generatorG.in
!examples/astra_files/gun.dat
!examples/astra_files/Radial2k_1G3ps.ini
!examples/astra_files/sp_gunsol.dat
!examples/astra_files/sole_cavity.dat
!examples/astra_files/tws_cavity.dat

examples/impactt_files/*
!examples/impactt_files/.gitkeep

integration_tests/scan/*
!integration_tests/scan/injector.in.000

integration_tests/local_optimizer/*
!integration_tests/local_optimizer/injector.in.000

integration_tests/global_optimizer/*
!integration_tests/global_optimizer/injector.in.000

integation_tests/astra_gun/*
!integration_tests/astra_gun/gun.dat
!integration_tests/astra_gun/Radial500_1G3ps.ini
!integration_tests/astra_gun/sole_gun.dat
!integration_tests/astra_gun/sp_gunsol.data

integration_tests/multi_code_optimization/astra/*
!integration_tests/multi_code_optimization/astra/injector.in.000
integration_tests/multi_code_optimization/impactt/*
!integration_tests/multi_code_optimization/impactt/ImpactT.in.000

